---
services:
  grafana:
    image: grafana/grafana
    restart: unless-stopped
    networks:
      - default
      - proxy
    environment:
      GF_SERVER_DOMAIN: grafana
      GF_SERVER_ROOT_URL: https://grafana/
      GF_SECURITY_ADMIN_EMAIL: admin@home.joe.nyland.io
      GF_SMTP_ENABLED: true
      GF_SMTP_HOST: smtp.home.joe.nyland.io:25
      GF_SMTP_SKIP_VERIFY: true
      GF_SMTP_FROM_ADDRESS: grafana@home.joe.nyland.io
    labels:
      traefik.enable: true
      traefik.http.routers.grafana.rule: Host(`grafana`)
      traefik.http.routers.grafana.middlewares: trusted-ipallowlist
    volumes:
      - /containers/dashboard-grafana:/var/lib/grafana

  prometheus:
    image: prom/prometheus
    restart: unless-stopped
    networks:
      - default
      - proxy
      - metrics
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=3y" # Defaults to 15 days
    volumes:
      - /containers/dashboard-prometheus/config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /containers/dashboard-prometheus/data:/prometheus
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
    labels:
      traefik.enable: true
      traefik.http.routers.prometheus.rule: Host(`prometheus`)
      traefik.http.routers.prometheus.middlewares: trusted-ipallowlist

  cadvisor:
    image: gcr.io/cadvisor/cadvisor
    restart: unless-stopped
    command:
      - "--docker_only=true"
      - "--housekeeping_interval=5s" # How often stats are collected
      - "--store_container_labels=false"
      - "--disable_root_cgroup_stats=true"
      - "--disable_metrics=disk,hugetlb,sched"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    devices:
      - /dev/zfs:/dev/zfs

  graphql-exporter:
    image: ricardbejarano/graphql_exporter
    restart: unless-stopped
    networks:
      - default
      - metrics

  plex-exporter:
    image: ghcr.io/jsclayton/prometheus-plex-exporter
    restart: unless-stopped
    expose:
      - 9000
    networks:
      - default
      - metrics
    environment:
      PLEX_SERVER: ${PLEX_SERVER:-http://plex:32400}
      PLEX_TOKEN: ${PLEX_TOKEN:?PLEX_TOKEN is required}

  sonarr-exporter:
    image: ghcr.io/onedr0p/exportarr:v2.0
    restart: unless-stopped
    command: sonarr
    expose:
      - 9707
    networks:
      - default
      - metrics
    environment:
      PORT: 9707
      URL: http://sonarr:8989
      API_KEY: ${SONARR_API_KEY:?SONARR_API_KEY is required}
      ENABLE_ADDITIONAL_METRICS: true # Allows reporting of additional metrics, including quality

  radarr-exporter:
    image: ghcr.io/onedr0p/exportarr:v2.0
    restart: unless-stopped
    command: radarr
    expose:
      - 9708
    networks:
      - default
      - metrics
    environment:
      PORT: 9708
      URL: http://radarr:7878
      API_KEY: ${RADARR_API_KEY:?RADARR_API_KEY is required}

  lidarr-exporter:
    image: ghcr.io/onedr0p/exportarr:v2.0
    restart: unless-stopped
    command: lidarr
    expose:
      - 9709
    networks:
      - default
      - metrics
    environment:
      PORT: 9709
      URL: http://lidarr:8686
      API_KEY: ${LIDARR_API_KEY:?LIDARR_API_KEY is required}
      ENABLE_ADDITIONAL_METRICS: true # Allows reporting of additional metrics, including quality

  prowlarr-exporter:
    image: ghcr.io/onedr0p/exportarr:v2.0
    restart: unless-stopped
    command: prowlarr
    expose:
      - 9710
    networks:
      - default
      - metrics
    environment:
      PORT: 9710
      URL: http://prowlarr:9696
      API_KEY: ${PROWLARR_API_KEY:?PROWLARR_API_KEY is required}

  sabnzbd-exporter:
    image: ghcr.io/onedr0p/exportarr:v2.0
    restart: unless-stopped
    command: sabnzbd
    expose:
      - 9711
    networks:
      - default
      - metrics
    environment:
      PORT: 9711
      URL: http://sabnzbd:8080
      API_KEY: ${SABNZBD_API_KEY:?SABNZBD_API_KEY is required}

  whisparr-exporter:
    image: ghcr.io/onedr0p/exportarr:v2.0
    restart: unless-stopped
    command: sonarr
    expose:
      - 9769
    networks:
      - default
      - metrics
    environment:
      PORT: 9769
      URL: http://whisparr:6969
      API_KEY: ${WHISPARR_API_KEY:?WHISPARR_API_KEY is required}
      ENABLE_ADDITIONAL_METRICS: true # Allows reporting of additional metrics, including quality

  unpoller:
    image: ghcr.io/unpoller/unpoller
    restart: unless-stopped
    expose:
      - 9130
    environment:
      UP_UNIFI_DEFAULT_URL: https://cloud-key-gen2-plus.home.joe.nyland.io
      UP_UNIFI_DEFAULT_USER: ${UP_UNIFI_DEFAULT_USER}
      UP_UNIFI_DEFAULT_PASS: ${UP_UNIFI_DEFAULT_PASS}
      UP_PROMETHEUS_NAMESPACE: unifi
      UP_INFLUXDB_DISABLE: true

networks:
  default:
    enable_ipv6: true
  proxy:
    external: true
  metrics:
    name: metrics
